@import "tailwindcss";

@theme {
  --color-saffron: #FF9933;
  --color-gold: #D4AF37;
  --color-spiritual-blue: #1A365D;
  --color-deep-cream: #FDF5E6;
  --color-background-light: #FFFBF2;

  --font-display: var(--font-manrope);
  --font-serif-title: var(--font-cinzel);

  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
}

/* Base resets */
body {
  background-color: #FFFBF2;
  /* background-light */
  color: #1e293b;
  /* slate-800 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.spiritual-gradient {
  background: linear-gradient(135deg, #FF9933 0%, #D4AF37 100%);
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}